body
{
	display:flex;
	flex-direction: column;
}


#Title
{
	height: 15%;
	display: flex;
	flex-direction:column;
	justify-content: center;
}

#Title div
{
	font-size:28px;
	line-height: 28px;
	height: 28px;
	color: #1848FF;
	text-align: center;
}


input
{
	border:1px solid #000;
	height: 24px;
	min-width: 200px;
	padding: 3px;
}


#Content
{
	height:60%;
	margin-top: 100px;
	margin-left: 70px;
	
}

.TextTag
{
	width: 100px;
	display: inline-block;
	text-align: right;
}

.TextLine
{
	height:40px;
}

#AcceptArea
{
	height:15%;
	padding: 0mm 10mm;
	display: flex;
	flex-direction: row;
	justify-content:center;
	align-items: center;
	
}