*
{
	padding: 0;
	border: 0;
	margin: 0;
}


html,body
{
	height:100%;
	padding: 0;
	border: 0;
	margin: 0;	
	overflow: hidden;
	background-color: #fff;
}

/*--Btn--*/
.NormalBtn
{
	padding: 3mm 10mm;
	background-color: #1848FF;
	font-size: 14px;
	text-align: center;
	background-color: #1848FF;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;	
}

