body
{
	display:flex;
	flex-direction: column;
}


#Title
{
	height: 10%;
	display: flex;
	text-align: center;
	flex-direction:column;
	justify-content: center;
}

#Title div
{
	font-size:28px;
	line-height: 28px;
	height: 28px;
	color: #00AE42;
}


#Content
{
	height: 80%;
	padding: 10mm 10mm;	
	overflow-y:hidden;
	overflow-x: hidden;
	text-align: left;
	font-size: 14px;
	line-height: 22px;
	color: #464646;
}

#Content div
{

}


#AcceptArea
{
	height:10%;
	padding: 0mm 10mm;
	text-align: left;
	display: flex;
	justify-content:flex-end;
	align-items: center;	
}


#AcceptBtn
{

}

#RefuseBtn
{
	
}

.mySwiper
{
	background-color: #EBEBEB;
	padding: 12px;
}