.accessory-rule-wrapper {
  border: 1px solid rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  padding: 8px 8px;
  background: #ffffff;
  position: absolute;
  width: 248px;
  right: 0;
  top: -390px;
  font-size: 12px;
  box-shadow: 0 6px 16px -8px rgba(0, 0, 0, 0.08), 0 8px 24px 0 rgba(0, 0, 0, 0.06), 0 12px 48px 16px rgba(0, 0, 0, 0.04);
}

.accessory-rule-list {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.accessory-rule-list input {
  display: none;
}

.accessory-rule-card {
  position: relative;
  padding: 8px 12px;
  border: 1px solid #E4E4E4;
  border-radius: 8px;
  /* background: #fff; */
  box-shadow: 0 2px 4px rgba(31, 35, 41, 0.08);
}

.accessory-rule-card::after {
  content: '\203A';
  position: absolute;
  right: 15px;
  top: 8px;
  font-size: 16px;
  color: #9FA3A9;
}

.accessory-rule-card:hover {
  border: 1px solid #50A90B;
}
.accessory-rule-card:hover .accessory-rule-title {
  color: #50A90B;
}

.accessory-rule-title {
  font-weight: 600;
  color: #202124;
}

.accessory-rule-meta {
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 4px;
  column-gap: 6px;
  font-size: 13px;
  color: #4A4D52;
}

.accessory-rule-meta dt {
  font-weight: 400;
  color: #575A5F;
}

.accessory-rule-meta dd {
  font-weight: 400;
  text-align: right;;
}