
body
{
	display:flex;
	flex-direction: column;
}


#Title
{
	height: 15%;
	display: flex;
	text-align: center;
	flex-direction:column;
	justify-content: center;
}

#Title div
{
	font-size:28px;
	line-height: 28px;
	height: 28px;
	color: #1848FF;
}



#Content
{
	height: 70%;
	padding: 0mm 10mm;	
	text-align:left;
}


#AcceptArea
{
	height:15%;
	padding: 0mm 10mm;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	
}

