#Title
{
	height: 15%;
	display: flex;
	flex-direction:column;
	justify-content: center;
	text-align: center;
}

#Title div
{
	font-size:28px;
	line-height: 28px;
	height: 28px;
	color: #1848FF;
}


#Content
{
	position: relative;
	height: 70%;
	text-align:left;
	overflow-y: hidden;
	padding: 0mm 10mm;
}

.swiper {
    height: 90%;
	top: 0px;
	left: 0px;
	bottom: 35px;
}

.swiper-slide {
	font-size: 18px;
    height: 100%;
	width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.swiper-slide iframe
{
	width:100%;
	height: 100%;
	overflow-y: hidden;
}


#AcceptArea
{
	height:15%;
	padding: 0mm 10mm;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	
}
