
body
{
	display:flex;
	flex-direction: column;
}


#Title
{
	height: 10%;
	display: flex;
	text-align: center;
	flex-direction:column;
	justify-content: center;
}

#Title div
{
	font-size:28px;
	line-height: 28px;
	height: 28px;
	color: #00AE42;
}


#Content
{
	height: 80%;
	padding: 10mm 10mm;	
	overflow-y:hidden;
	text-align: left;
	font-size: 14px;
	line-height: 22px;
	color: #464646;
	display: flex;
	flex-direction: column;
	justify-content:flex-start;
	align-items:center;
}

#Content div
{

}


#AcceptArea
{
	height:10%;
	padding: 0mm 10mm;
	text-align: left;
	display: flex;
	justify-content:flex-end;
	align-items: center;	
}




#EarthIcon img
{
	width: 200px;
}

#EarthIcon
{
	margin-bottom: 50px;
}

#RegionList
{
	border: 3px solid #C7C7C7;
	width: 400px;
	cursor: pointer;
}

.RegionItem
{
	line-height: 40px;
	height: 40px;
	padding-left: 10px;
	text-align: center;
}

.RegionItem:hover
{
	background-color: #ECECEC;
}


.RegionSelected
{
	background-color:#00AE42;
	color: #fff;
}

.RegionSelected:hover
{
	background-color:#00AE42;
	color: #fff;
}